configoptions="\
--disable-debug \
--with-zlib-dir \
--with-freetype \
--enable-mbstring \
--with-libxml=/usr \
--enable-soap \
--enable-calendar \
--with-curl \
--with-zlib \
--enable-gd \
--disable-rpath \
--enable-inline-optimization \
--with-bz2 \
--enable-shmop \
--enable-sockets \
--enable-sysvsem \
--enable-sysvshm \
--enable-pcntl \
--enable-mbregex \
--enable-exif \
--enable-bcmath \
--enable-opcache \
--with-mhash \
--with-zip \
--with-config-file-scan-dir=/opt/phpfarm/inst/configs/$1 \
--with-pdo-mysql \
--with-mysqli \
--with-openssl=/opt/openssl \
--with-jpeg=/usr \
--with-libdir=/lib \
--enable-ftp \
--with-imap \
--with-imap-ssl=/opt/openssl \
--with-kerberos \
--with-gettext \
--with-xmlrpc \
--with-xsl \
--with-sodium \
--enable-fpm \
--enable-intl"
