php_versions:

  - version: "7.2.21"
    major_default: 7.2
    modules:
      - {name: "apcu", version: "5.1.17"}
      - {name: "imagick"}
      - {name: "redis", version: 5.0.2 }
      - {name: "xdebug", version: 2.7.2 }

  - version: "7.3.8"
    major_default: 7.3
    modules:
      - {name: "apcu", version: "5.1.17"}
      - {name: "imagick"}
      - {name: "redis", version: 5.0.2 }
      - {name: "xdebug", version: 2.7.2 }


default_php: 7.2.21