php_versions:

  - version: "7.2.26"
    major_default: 7.2
    modules:
      - {name: "apcu"}
      - {name: "imagick" }
      - {name: "redis" }
      - {name: "xdebug" }

  - version: "7.3.13"
    major_default: 7.3
    modules:
      - {name: "apcu"}
      - {name: "imagick" }
      - {name: "redis" }
      - {name: "xdebug" }

  - version: "7.4.1"
    major_default: 7.4
    modules:
      - {name: "apcu"}
      - {name: "imagick" }
      - {name: "redis" }
      - {name: "xdebug" }

default_php: "{{ (php_versions|last).version }}"